* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header {
  background-image: url(../img/background.jpg);
  font-family: 'Montserrat', sans-serif;
  height: 670px;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-logo {
  padding-top: 38px;
}

.navbar .menu {
  margin-top: 45px;
  width: 616px;
}

.navbar .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .menu__link {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.navbar .menu__link:hover {
  color: #10c9c3;
}

.hero {
  margin-left: auto;
  margin-right: 0;
  width: 475px;
  margin-top: 170px;
}

.hero__title {
  font-size: 38px;
  color: #fff;
}

.hero__subtitle {
  margin-top: 32px;
  margin-bottom: 39px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #d1d1d1;
}

.button {
  background-color: #10c9c3;
  width: 180px;
  height: 54px;
  color: #ffffff;
  border: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
